.capture_wrapper {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    padding-top: 100px;
}

.input_box {
    margin-bottom: 10px;
    background: rgba(255,255,255,0.6);
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    color: grey;
    font-weight: 300;
}

.enter_button {
    background: transparent;
    border: none;
    color: #d40000;
    font-weight: 300;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}