.viewRefuel_wrapper {
    margin: auto;
    font-size: 0.9rem;
    color: #222222;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 40px auto;
}

.input_box {
    margin-bottom: 10px;
    background: rgba(255,255,255,0.6);
    padding: 5px;
    border-style: solid;
    border-color: #888888;
    border-width: 0.5px;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 5px;
}

.notes_box {
    margin-bottom: 20px;
    background: rgba(255,255,255,0.6);
    padding: 5px;
    border-style: solid;
    border-color: #888888;
    border-width: 0.5px;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    transition: height 0.5s ease-in-out;
    height: 18px;
}

.save_button {
    background: transparent;
    border: none;
    color: #d40000;
    font-weight: 300;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.delete_button {
    background: transparent;
    border: none;
    color: #d40000;
    font-weight: 300;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

.input_box:focus {
    outline-color: #d40000;
}

.notes_box:focus {
    height: 100px;
    outline-color: #d40000;
}

.button_area {
    display:flex;
    flex-direction: row;    
}